Flask==3.0.3
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-Script==2.0.6
Flask-SQLAlchemy==3.1.1
alembic==1.13.2
SQLAlchemy==2.0.34
SQLAlchemy-Utils==0.41.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
pusher==3.2.0
gunicorn==23.0.0
gevent==24.2.1
elastic-apm[flask]==6.23.0
